
$font: 300 14px/1.5 helvetica, sans-serif;
$font-size: 14px;
$line-height: 1.5;

$slider-overlay-color: #000;
$slider-overlay-opacity: .35;

$main-txt-color: #000;

$main-bgc: #fff;

$secondary-bgc: #f8f8f7;

$features-sprite: '../img/features-sprite.png';

$active-text-color: #d3a929;

$footer-overlay-color: #fff;
$footer-overlay-opacity: .55;

$footer-bgc: #7d7670;

$arrow-color: #9b9b9b;

$bg-position-around: 133px -70px;