$slider-overlay-opacity: .55;

$main-txt-color: #fff;

$main-bgc: #6a635d;

$features-sprite: '../../img/features-sprite-dark.png';

$secondary-bgc: #ecebe7;

$footer-overlay-color: #000;

$footer-bgc: #403b37;

$arrow-color: #fff;

$bg-position-around: -20px -70px;